/* CSS declarations go here */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.editor-container {
  font-family: 'Open Sans', sans-serif;
}

.DraftEditor-root {
  font-family: 'Open Sans', sans-serif;
  width: 600px;
  padding: 20px;
}

.DraftEditor-editorContainer {
  border: 1px solid #ccc;
  cursor: text;
  min-height: 80px;
  padding: 10px
}
