/* CSS declarations go here */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.editor-container {
  font-family: 'Open Sans', sans-serif;
}

.DraftEditor-root {
  font-family: 'Open Sans', sans-serif;
  width: 600px;
  padding: 20px;
}

.DraftEditor-editorContainer {
  border: 1px solid #ccc;
  cursor: text;
  min-height: 80px;
  padding: 10px
}

.social-buttons, .password-or-service {
  text-align: center;
}

.password-or-service {
  padding: 1em 0 2em 0;
  font-family: Roboto, sans-serif;
  letter-spacing: 0px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
}
